[Desktop Entry]
Type=Application
Name=TeamSpeak
Comment=TeamSpeak
Exec=TeamSpeak
Icon=ts2.xpm
Terminal=false
Categories=Qt;Audio;Game;
# vi: encoding=utf-8
